.main-page{
    display: flex;
    justify-self: flex-start;
    flex-direction: column;
    width: 320px;
    height: 100%;
    background-color: var(--bg-color);
}
.title{
    display: flex;
    justify-content: left;
    font-family: Constancia;
    font-size: 32px;
    line-height: 1.4;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 30px;
    color: var(--primary-color);
    text-shadow:2px 2px 4px var(--accent-color2);
}
.subtitle{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    font-family: Shantell;
    font-size: 18px;
    color: var(--accent-color2);
    text-shadow:2px 2px 4px var(--accent-color);
}
.main-img{
display: flex;
margin: 30px auto;
mix-blend-mode:darken;
}
.main-text{
    margin: 0 20px;
    font-family: AvantGardeC;
    font-size: 12px;
    line-height: 1.4;
    font-weight: bold;
    font-style: italic;

    color:var(--accent-color3);
}
.info-title,.info{
    margin: 40px 20px 0 20px;
    font-family: AvantGardeC;
    font-size: 10px;
    line-height: 1.6;
  
    
}
.info-title{
    color: var(--primary-color); 
    font-size: 12px; 
    font-style: italic;
    font-weight: bold;
}
.info{
    margin-top: 10px;
    font-weight: bold;
    padding: 0 20px;
}
.quote{
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 20px;
    font-family: Second_Road;
    font-size: 12px;
    font-weight: bold;
    color: var(--accent-color2);
}

.pupils-info,.teachers-info{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    font-family: AvantGardeC;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    border: 1px dashed var(--accent-color);
}

.info-text{
    font-family: AvantGardeC;
    font-size: 10px;
    line-height: 1.4;

}

.main-btn{
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 35px;
    border:transparent;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    font-family: AvantGardeC;
    font-size: 14px;
    text-shadow:2px 2px 4px var(--accent-color3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.teachersInfo .mainbtn{
    background-color: var(--accent-color2);
}