:root {
  --primary-color: #249D8C;
  --secondary-color: #97B1A6;
  --accent-color: #F4C84B;
  --accent-color2: #E77D67;
  --bg-color: #F1E1D2;
  --accent-color3: hsla(0, 0%, 12%, 0.5);
}

@font-face {
  font-family: Constancia;
  src:url("../assets/fonts/Constacia_Modern-Deco.woff2") format("woff2"), url("../assets/fonts/Constacia_Modern-Deco.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvantGardeC;
  src: url("../assets/fonts/AvantGardeC.woff2") format("woff2"),url("../assets/fonts/AvantGardeC.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvantGardeC;
  src: url("../assets/fonts/AvantGardeC_Bold.woff2") format("woff2"),url("../assets/fonts/AvantGardeC_Bold.otf") format("otf");
  font-weight: 900;
  font-style: bold;
}
@font-face {
  font-family: AvantGardeC;
  src: url("../assets/fonts/AvantGardeC_Italic.woff2") format("woff2"),url("../assets/fonts/AvantGardeC_Italic.otf") format("otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Second_Road;
  src: url("../assets/fonts/Second_Road.ttf") format("ttf"),url("../assets/fonts/Second_Road.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
 @font-face {
    font-family: Shantell;
    src:url("../assets/fonts/ShantellSans-MediumItalic.woff2") format("woff2"), url("../assets/fonts/ShantellSans-MediumItalic.ttf") format("ttf");
    font-weight: 400;
    font-style: italic;
  }
  

#root {
  /* max-width: 1280px; */
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


